header.header.header--1 
  .container-fluid 
    .row.main-selects 
      .col 
        .d-flex
          select.form-select(aria-label='Тип скрипта')#srcType
            option(selected='' value="" disabled) Тип скрипта
          select.ms-4.form-select(aria-label='Тип продукта')#productType
            option(selected='' value="" disabled) Тип продукта
      .col-4
        div.d-flex.justify-content-end.align-items-center
          label.switch
            input(type='checkbox')
            span.slider.round
            span.langText

          include ./id2
.header.header--2
  .container-fluid 
    .d-flex 
      ul.navbar-nav#navMenu 

  